* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

*, html, body, p, td, th, div, span, input, select, textarea, label, li 
{ font-size: 16px; font-family:tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif; margin:0; padding:0; line-height:18px; }
body { padding:10px; }

table, tr, td, th { border-collapse:collapse; vertical-align:middle; }
td, th { border-top: 1px solid #999; border-left: 1px solid #999; padding: 1px 2px; }
th { font-weight:600 ; }
table { border-bottom: 1px solid #999; border-right: 1px solid #999; }

input.text {
	outline-style: none ;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px 4px;
	font-size: 16px;	
}

.center { 
    position:fixed; left:50%; 
    -webkit-transform: translateX(-50%); 
    -moz-transform: translateX(-50%); 
    -ms-transform: translateX(-50%); 
    transform: translateX(-50%); 
}