<?xml version="1.0" encoding="UTF-8"?>
<!-- - - Licensed under the Apache License, Version 2.0 (the "License"); 
	- you may not use this file except in compliance with the License. - You 
	may obtain a copy of the License at - - http://www.apache.org/licenses/LICENSE-2.0 
	- - Unless required by applicable law or agreed to in writing, software - 
	distributed under the License is distributed on an "AS IS" BASIS, - WITHOUT +
	WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. - See the 
	License for the specific language governing permissions and - limitations 
	under the License. -->
<!DOCTYPE mycat:server SYSTEM "server.dtd">
<mycat:server xmlns:mycat="http://io.mycat/">
<system>
	<property name="nonePasswordLogin">0</property>
	<property name="useHandshakeV10">1</property>
	<property name="useSqlStat">0</property>
	<property name="useGlobleTableCheck">0</property>

	<!-- 1: Use MySQL to store Mycat global sequence data -->
	<property name="sequnceHandlerType">1</property>
	<!-- To check whether the table join is using sharding keys -->
	<property name="subqueryRelationshipCheck">false</property>
	<!-- 0: DirectByteBufferPool, 1: ByteBufferArea, 2: NettyBufferPool -->
	<property name="processorBufferPoolType">0</property>
	<!-- 0: Enable XA transaction; 1: Disable XA transaction; 2: Enable and log XA transaction -->
	<property name="handleDistributedTransactions">0</property>
	<property name="useOffHeapForMerge">1</property>
	<property name="memoryPageSize">64k</property>
	<property name="spillsFileBufferSize">1k</property>
	<property name="useStreamOutput">0</property>
	<property name="systemReserveMemorySize">384m</property>

	<property name="useZKSwitch">false</property>
	<!-- Disable backend MySQL connection reuse feature in XA transaction from client application -->
	<property name="strictTxIsolation">false</property>
	
	<property name="idleTimeout">3600000</property> <!-- Unit: millisecond -->
	<property name="sqlExecuteTimeout">3</property> <!-- Unit: secend -->
	<property name="txIsolation">2</property> <!-- 2: READ COMMITTED; 3: REPEADABLE READ -->

	<!-- Time intervals in milliseconds to check frontend and backend NIO processors, extra idle or timeout ones will be released -->
	<property name="processorCheckPeriod">3600000</property>
	<!-- Time intervals in milliseconds for heartbeat on backend MySQL connections -->
	<property name="dataNodeHeartbeatPeriod">10000</property>
	<!-- Time intervals in milliseconds to check backend MySQL connections, extra idle or timeout ones will be released -->
	<property name="dataNodeIdleCheckPeriod">3600000</property>
</system>

<!-- Account for connecting to Mycat -->
<user name="mydemo" defaultAccount="true">
	<property name="password">mydemo</property>
	<property name="schemas">db_user,db_order</property>
</user>
</mycat:server>