<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <title>Demo Application</title>
    <link rel="stylesheet" href="/static/main.css" />
    <link rel="stylesheet" href="/static/button.css" />
    <script src="/static/jquery.js" type="text/javascript"></script>
</head>

<body>
    <div>
        <span>Mobile: </span>
        <input id="txtMobile" />
        <span>Password: </span>
        <input id="txtPassword" />
    </div>
    <div>
        <a href="/item/list" class="button">Item List</a>
        <a href="#" class="button">Register</a>
        <a href="#" class="button">Login</a>
        <a href="/order/create" class="button">Create Order</a>
        <a href="/order/create" class="button">Run a Full TestCase</a>
    </div>
</body>
</html>